---

---

<div
  class="dark text-muted text-sm bg-black dark:bg-transparent dark:border-b dark:border-slate-800 dark:text-slate-400 hidden md:flex md:justify-center gap-1 overflow-hidden px-3 py-2 relative text-ellipsis whitespace-nowrap"
>
  <a href="https://astro.build/blog/astro-460/" class="text-muted hover:underline dark:text-slate-400 font-medium">
    Pendaftaran Santri Baru Telah Dibuka
  </a>
</div>
